* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'agency fb';
  background: url("../img/reindeer.png") no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
}

ul {
  list-style: none;
}

.nav {
  width: 200px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background: #FFEB00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logo h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2;
}

.logo span {
  font-size: 60px;
  line-height: 1;
}

.menu-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  padding-top: 50px;
}

.menu-links ul {
  width: 100%;
}

.menu-links ul li {
  padding: 10px;
  color: #494949;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-links ul li:hover {
  background: #494949;
  color: #fff;
}

.scrolldown {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.scrolldown::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #000;
  width: 65px;
  margin: 0 10px 0 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.text {
  position: absolute;
  top: 25%;
  right: 180px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: right;
  color: #494949;
}

.text .title {
  font-size: 150px;
}

.watchnow {
  position: absolute;
  top: 60%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FFEB00;
  padding: 30px 180px 30px 30px;
}

.watchnow a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.fa-play {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.media {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.media ul li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: #494949;
  cursor: pointer;
  border-radius: 50%;
}

.media ul li:hover {
  background: #FFEB00;
}

.ellipse {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse-container {
  width: 608px;
  height: 608px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
}

.ellipse-thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: var(--color-grey);
  opacity: .5;
}
/*# sourceMappingURL=main.css.map */